---
permalink: /portfolio/
author_profile: false
---


<div style="display: block;background-color:white;position: sticky;top: 0px; padding: 10px 0px 10px 0px;box-shadow: 0 4px 2px -2px gray;z-index: 1;"> 
  <h1 style="color:#000080"> Research projects </h1> </div>

<p style="margin-bottom:1.2cm;"></p>

Here are the research projects that I have been involved in.
The research details and achivements are presented in each project.
Please click the title of the project that you're interested in.


<p style="margin-bottom: 2.5cm;"></p>

{% include base_path %}

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

