---
layout: archive
title: "Research projects"
permalink: /portfolio/
author_profile: true
---

<p style="margin-bottom: 2.5cm;"></p>

There are several research projects that I have been involved in.
But, I am working on hadron spectroscopy. <br>

<hr>

<ol reversed>
  <h2> 2021 </h2>
  <li style="margin-bottom: 25px;"><b>Heavy baryon decays</b><br> 
    <button class="btn--article-blue">on-going</button>&nbsp; (2015-present) <br>
      <b style="color:#900C3F"> A. J. Arifi</b>, H. Nagahiro, A. Hosaka, K. Tanida, D. Suenaga 
        
  <li style="margin-bottom: 25px;"><b>Kaon photoproduction</b><br> 
      <button class="btn--article">Archived</button>&nbsp; <b style="color:#900C3F">(2014-2015)  <br>
       A. J. Arifi</b>, S. Clymton, T. Mart
  
</ol>



{% include base_path %}

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

