---
permalink: /portfolio/
author_profile: false
---


<div style="display: block;background-color:white;position: sticky;top: 0px; padding: 10px 0px 10px 0px;box-shadow: 0 4px 2px -2px gray;z-index: 1;"> 
  <h1 style="color:#000080"> Research interests </h1> </div>

<p style="margin-bottom:1.2cm;"></p>

<p align="justify"> 
My research interest is primarily focused on the study of quantum chromodynamics (QCD) and its application to hadron physics. 
QCD is the fundamental theory of the strong interaction that describes the behavior of quarks and gluons, 
the elementary constituents of hadrons such as protons and neutrons. 
Our goal is to deepen our understanding on the properties and behavior of these strongly interacting particles, 
including their spectroscopy, structure, and interactions in matter. 
My research focuses on developing theoretical models to investigate various aspects of hadron physics, 
and to test and validate these models against experimental data. 
This includes the use of effective Lagrangian models, chiral quark models, light-front quark models, 
and other theoretical frameworks to study the properties of hadrons. </p>

<p style="margin-bottom:1.2cm;"></p>

<h2 style="color:#900C3F"> Hardron structure and the light-front quark model </h2>

<p align="justify"> 
One of my research intersts is in the field of hadron physics on the light front. 
The light front is a unique reference frame for studying the dynamics of hadrons, 
where the front of light cone is used as the hyperplane to describe the hadron's momentum. 
This framework has become increasingly important in recent years, as it provides a natural 
way to describe the internal structure of hadrons in a relativistic framework.
My work in this field is focused on using the light-front quark model (LFQM) to study 
the phenomenology of hadron spectroscopy and structure. By analyzing the mass spectra 
and wave functions of hadron, we can gain a deeper understanding of the 
dynamics of quarks and gluons within these particles. Additionally, we explore the impact 
of different model parameters and compare the results with experimental data, in order to 
refine the theoretical framework and improve our understanding of hadron physics. </p>



<p style="margin-bottom: 2.5cm;"></p>

<div style="display: block;background-color:white;position: sticky;top: 0px; padding: 10px 0px 10px 0px;box-shadow: 0 4px 2px -2px gray;z-index: 1;"> 
  <h1 style="color:#000080"> Research projects </h1> </div>

<p style="margin-bottom: 1.5cm;"></p>

{% include base_path %}

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

