---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
<a href="/talkmap.html"> Map of places where I have visited to give a talk.</a>
{% endif %}

<p style="margin-bottom:1.2cm;"></p>

<ol>
  <h2> 2016 </h2>
  <li style="margin-bottom: 25px;"><b>Effect of the spin-3/2 nucleon resonances in kaon photoproduction </b><br> 
      <button class="btn--article-blue">Proceeding</button>&nbsp; <b style="color:#900C3F"> A. J. Arifi</b> and T. Mart, (Sep 23, 2016)<br>
      Published in: <i> <a href="https://iopscience.iop.org/article/10.1088/1742-6596/739/1/012008">J.Phys.Conf.Ser. 739, 012008 (2016).</a></i> Contribution to: APS 2015 </li>
  
  <li style="margin-bottom: 25px;"><b>Electromagnetic production of kaon with spin-3/2 and -5/2 nucleon resonances </b><br> 
      <button class="btn--article-blue">Proceeding</button>&nbsp; T.Mart, S.Clymton, and <b style="color:#900C3F"> A. J. Arifi</b>, (2016)<br>
      Published in: <i> <a href="https://journals.jps.jp/doi/10.7566/JPSCP.10.042001">JPS Conf.Proc. 10, 042001 (2016).</a></i> Contribution to: NSTAR 2015 </li>
  
  <h2> 2015 </h2>
  <li><b><a href="https://ajarifi.github.io/publication/article-1"> Nucleon resonances with spin-3/2 and -5/2 in the isobar model for kaon photoproduction </a></b>
    <br> 
    <button class="btn--article">Article</button>&nbsp; T.Mart, S.Clymton, and <b style="color:#900C3F"> A. J. Arifi</b>, (Nov 18, 2015)<br>
    Published in: <i> <a href="https://journals.aps.org/prd/abstract/10.1103/PhysRevD.92.094019">Phys.Rev. D 92, 094019 (2015).</a> </i></li>
  
</ol>


{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
