<script src="{{ base_path }}/assets/js/main.min.js"></script>

<script src="{{ base_path }}/assets/js/filter.js"></script>

<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{{ base_path }}/assets/js/pie.js"></script>
<script src="{{ base_path }}/assets/js/pie2.js"></script>
<script src="{{ base_path }}/assets/js/hist.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/japan-map-js@1.0.1/dist/jpmap.min.js"></script>
<script src="{{ base_path }}/assets/js/japan.js"></script>


{% include analytics.html %}
{% include /comments-providers/scripts.html %}
      
