---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div id="mySidenav" class="sidenav">
      <a href="https://ajarifi.github.io/portfolio/" id="research">Research</a>
      <a href="https://ajarifi.github.io/publications/" id="publication">Publication</a>
      <a href="https://ajarifi.github.io/talks/" id="talks">Talk</a>
      <a href="https://ajarifi.github.io/cv/" id="cv">CV</a>
    </div>
    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    
    {% include scripts.html %}
 
  </body>
</html>
